.card {
  grid-area: card;
  padding-right: 15px;
  padding-left: 15px;
  animation-duration: 2s;
}

.card .title img {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
  margin-left: 5px;
}

.card .title button {
  padding: 0;
  border: none;
  background: none;
}
.card .title button:focus {
  outline: none;
}

.card-container {
  display: grid;
  height: 95%;
  width: 100%;
  grid-template-columns: 1.1fr 2.9fr;
  grid-template-rows: 1.1fr 0.1fr 0.8fr;
  grid-template-areas: "avatar presentation" "avatar checkMeOut" "dismiss social";
}

.avatar {
  grid-area: avatar;
}

.avatar img.nes-avatar.is-rounded {
  border-radius: 100%;
  height: 90%;
  width: 90%;
}

.presentation {
  grid-area: presentation;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#dito a {
  color: #5ac981;
  text-decoration: none;
}

.checkMeOut {
  grid-area: checkMeOut;
  margin-top: 20px;
}

.dismiss {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.dismiss button {
  height: 60%;
  margin-left: 5%;
  margin-right: 5%;
}

.social {
  grid-area: social;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.social i {
  margin-left: 15px;
}

@media screen and (max-width: 1300px) {
  .card-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .avatar {
    display: none;
  }

  .dismiss {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  .card {
    flex-basis: 50%;
    align-self: center;
  }
}

@media screen and (max-width: 800px) {
  .card {
    order: 1;
  }
}
